.game-component {
  ol,
  ul {
    padding-left: 30px;
  }

  .status {
    margin-bottom: 10px;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    height: 32px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 32px;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: row;
  }

  .game-info {
    margin-left: 20px;
  }

  .board-row {
    height: 31px;

    span{
      display: inline-block;
    }

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}
