.soko-game {
  &.game-component {
    .board-row {
      height: 32px;
    }
  }

  .game-board {
    position: relative;

    .character {
      overflow: hidden;
      width: 32px; 
      height: 32px; 
      background: transparent url(../assets/character1.png) repeat 0 0; 
      position: absolute; 
      left: 320px; 
      top: 320px;
    }
  }

  .box {
    width: 32px; 
    height: 32px; 
    background: transparent url(../assets/magictower.png ) -192px -768px;
    position: absolute;
  }
}

.sokoban-component {
  .common-square {
    float: left;
    width: 32px;
    height: 32px;
  }
}
  